.head__logo_img {
    width: 40px;
}

.head__logo, .head__menu, .head__menu_item {
    display: inline-block;
    vertical-align: middle;
}



.head__menu {
    margin: 0px;
}

.head__menu_item {
    margin: 5px 20px;
    padding: 5px 15px;
}

.head__menu_item--active {
    background-color: orange;
}

.boostup {
    background-color: #709dca;
    padding-top: 40px;
    text-align: center;
    color: white;
}

.boostup__title {
    text-align: center;
    text-transform: uppercase;

    font-size: 2em;
}

.boostup__sub-title {
    font-size: 0.8em;
}

.boostup-form {
    display: flex;
    justify-content: center;
}

.boostup-control {
    width: 20%;
}

.boostup-input {
    font-size: 0.6em;
    height: 25px;

    margin-right: 10px;
    padding-left: 25px;

    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position-y: 50%;
    background-position-x: 5px;

}

.boostup-button {

}

.boostup-form__name {
    background-image: url("img/svg/avatar.svg");
}

.boostup-form__email {
    background-image: url("img/svg/envelope.svg");
}

.boostup-form__phone {
    background-image: url("img/svg/phone-call.svg");
}

#laptop {
    position: relative;
    top: 50px;
    width: 200px;
}

.Circles {
    margin-top: 70px;
    text-align: center;
}

.Circles__img {
    height: 25px;
    width: 20px;
}

.Circles__item {
    fill-opacity : 0;
    stroke:grey;
    cx : 12;
    cy : 15;
    r : 5
}

.Circles__item--active {
    stroke:blue;
}

.Our-services {
    margin-top: 50px;
}
.Our-services-head {
    text-align: center;
}
.Our-services-head-1 {
    font-weight: 700;
}
.Our-services-head-2 {
    font-size: 0.7em;
}








