.block {
    width: 100%;
    height: 200px;
}

.b1 {
    background-color: orange;
}

.b2 {
    background-color: violet;
}

.b3 {
    background-color: blue;
}

.b4 {
    background-color: green;
}

.b5 {
    background-color: orange;
}



