form {
    width: 440px;
    margin: 0 auto;
}

div {
    background-color: greenyellow;
    /*height: 50px;*/
}

input {
    display: block;
    float: left;
    width: 200px;
    margin: 10px;
    padding: 0 15px;
    box-sizing: border-box;
    height: 30px;
    outline: none;
}

.title {
    text-align: center;
}