.wrap {
    width: 600px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;

}

#box1 {
    background-color: violet;
    grid-column-start: 1;
    grid-column-end: 3;

    height: 50px;
}

#box2 {
    background-color: blue;

}

#box3 {
    background-color: orange;
}