body {
    background-image: url("png-2757379_640.png");

    /*height: 100vh;*/
    /*background-size: cover;*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 800px 200px;*/
    background-position: 40% 100%;
    /*background-size: cover;*/
    /*background-size: cover;*/
    /*background-size: cover;*/

    height: 1000px;
    /*background-size: cover;*/
    background-attachment: fixed;
}