div {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: red;
    top: 0px;
}

div.c1 {
    background-color: red;
    top: 100px;
    transition: top 3s ease-in 1s, background-color 1s linear;
    /*transition: background-color 3s ease-in 1s;*/
}

div.c1:active {
    background-color: green;
    top: 200px;
}


/*animation*/

/*@keyframes step {*/
    /*0% {*/
        /*left: 0px;*/
        /*top: 0px;*/
    /*}*/

    /*25% {*/
        /*left: 100px;*/
        /*top: 100px*/
    /*}*/

    /*50% {*/
        /*left: 200px;*/
        /*top: 50px*/
    /*}*/

    /*100% {*/
        /*left: 400px;*/
        /*top: 100px;*/
    /*}*/
/*}*/

/*@keyframes step2 {*/
    /*0% {*/
        /*left: 0px;*/
        /*top: 0px;*/
    /*}*/

    /*25% {*/
        /*left: 100px;*/
        /*top: 0px*/
    /*}*/

    /*50% {*/
        /*left: 200px;*/
        /*top: 50px*/
    /*}*/

    /*100% {*/
        /*left: 400px;*/
        /*top: 0px;*/
    /*}*/
/*}*/


/*.animate {*/
    /*!*background-color: magenta;*!*/
    /*animation: step 2s ease 1s infinite alternate;*/
    /*background-image: url("cat.png");*/
    /*background-size: 100%;*/
/*}*/

/*.animate2 {*/
    /*background-color: blue;*/
    /*animation: step2 2s ease 1s infinite alternate;*/
/*}*/

/*div:hover {*/
    /*!*animation:  none;*!*/
    /*animation-play-state: paused;*/
/*}*/