.container {
    display: flex;
    flex-wrap: wrap;
}

div:not(.container) {
    background-color: yellow;
    margin: 1%;
}

.r1c1 {
    width: 28%;
    height: 40px;
}

.r1c2 {
    width: 68%;
}

.r2c1, .r2c2, .r2c3, .r2c4 {
    width: 15%;
}

.r2c5 {
    width: 30%;
    height: 30px;
}

.r3c1 {
    width: 30%;
    height: 60px;
}

.r3c2 {
    width: 45%;
}

.r3c3 {
    width: 19%;
}